<app-odds></app-odds>

<div class="shareButtons">
  <div class="twitterButton"><a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="small" data-url="http://www.uncvduke.com" data-show-count="true">Tweet</a></div>
  <div class="fb-share-button" data-href="http://www.uncvduke.com" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.uncvduke.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
</div>
